{% extends 'base.html' %}
{% block 'extra_head' %}
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
{% endblock 'extra_head' %}
{% block 'main' %}
<div class="flex justify-center items-center min-h-screen bg-[#0e1a2b]">
  <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-lg mt-10">
    <h2 class="text-2xl font-semibold mb-4 text-center text-gray-900">Password Reset Complete</h2>
    <p class="text-center text-gray-700">Your password has been reset successfully. You can now log in with your new password.</p>
  </div>
</div>

{% endblock 'main' %}
